{erl_opts, [no_debug_info]}.
{deps, [bbmustache,jsone]}.

{escript_incl_apps,
 [generate_pipelines, bbmustache, jsone]}.
{escript_main_app, generate_pipelines}.
{escript_name, generate_pipelines}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
